.home{
    height: 500px;
    background-image: url("https: //www.google.com/imgres?imgurl=https%3A%2F%2Fimg.freepik.com%2Ffree-vector%2Fhand-painted-watercolor-pastel-sky-background_23-2148902771.jpg%3Fw%3D2000&imgrefurl=https%3A%2F%2Fwww.freepik.com%2Ffree-photos-vectors%2Fbackground&tbnid=x-lvRKo4RLNHJM&vet=12ahUKEwjr07ag2Z77AhUS7nMBHRR0BqcQMygCegUIARDkAQ..i&docid=bKJ3gdlWTtaNoM&w=2000&h=1333&q=image%20background&ved=2ahUKEwjr07ag2Z77AhUS7nMBHRR0BqcQMygCegUIARDkAQ");
    background-size: cover;
}